.form-heading
  %h2 My Profile
  .control-group
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: "form-horizontal"}) do |f|
  %div.tabbable
    %ul.nav.nav-tabs
      %li.active
        %a{data: {toggle: "tab"}, href: "#tab1"} 
          Public 
      %li
        %a{data: {toggle: "tab"}, href: "#tab2"} 
          Private 
    %div.tab-content
      %div.tab-pane.active#tab1
        = f.simple_fields_for :public_profile do |pub|
          %p
            = pub.input :first_name
            = pub.input :last_name
            = pub.input :gender, collection: ['Male', 'Female']
            = pub.input :mobile_number
            = pub.input :blood_group
            = pub.input :date_of_birth
            = pub.submit :save
      %div.tab-pane#tab2
        = f.simple_fields_for :private_profile do |pri|
          %p
            = pri.input :date_of_birth
            = pri.input :wife_name
            = pri.input :wife_phone_no
            = pri.input :father_name
            = pri.input :father_phone_no
            = pri.input :mother_name
            = pri.input :mother_phone_no
            = pri.input :pan_number
            = pri.input :passport_number
            = pri.input :qualification
            = pri.input :date_of_joining
            = pri.input :date_of_relieving
            = pri.input :work_experience
            = pri.submit :save

