!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    - if @leave.user.profile.nil?
      %p
        %i
          Hello #{@leave.user.email},
    - else
      %p
        %i
          Hello #{@leave.user.name},
    - if @user.profile.nil?
      %p
        Your #{@user.roles} #{@user.email}  has approved your leave that you had applied from #{@leave.starts_at.strftime("%d %B %Y")} to
        = @leave.ends_at.strftime("%d %B %Y")
    - else
      %p
        Your #{@user.roles} #{@user.name}  has approved your leave that you had applied from #{@leave.starts_at} to
        = @leave.ends_at
    Regards,
    = @user.organization.name
