<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
    <body>
<% if @leave.user.profile.nil? %>

<p> <i> Hello <%= @leave.user.email %>, </i>
</p>
<% else %>
      <p>
      <i> Hello <%= @leave.user.name %>,</i>
</p>
<% end %>
</br>
</br>
<% if @user.profile.nil? %>
<p>
Your <%= @user.roles %> <%= @user.email %>  has approved your leave that you had applied from <%= @leave.starts_at.strftime("%d %B %Y") %> to</br> <%= @leave.ends_at.strftime("%d %B %Y") %>
<% else %>

<p>
Your <%= @user.roles %> <%= @user.name %>  has approved your leave that you had applied from <%= @leave.starts_at %> to</br> <%= @leave.ends_at %>
<% end %>
</br>
Regards,
</br>
<%= @user.organization.name %>
</body>
</html>