<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
    <body>
      <p>
      <i> Hello <%= @leave.user.profile.name %>,</i>
</p>
</br>
</br>
<p>
Your <%= @user.roles %> <%= @user.name %>  has approved your leave that you had applied from <%= @leave.starts_at %> to</br> <%= @leave.ends_at %>
</br>
Regards,
</br>
<%= @user.organization.name %>
</body>
</html>