<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
<body>
<% if @leave.user.profile.nil? %>
<p> <i> Hello <%= @leave.user.email %>, </i> </p>
<% else %>
<p>
<i>
Hello
<%= @leave.user.profile.name %>,</i>
</p>
<% end %>
</br>
<% if @user.profile.nil? %>
<p>
Your leave has now been canceled by your <%= @user.roles %> <%= @user.email %>
</p>
<% else %>

<p>
Your leave has now been canceled by your <%= @user.roles %> <%= @user.profile.name %>
<% end %>

</p>
</br>
Regards,
</br>
<%= @user.organization.name %>
</body>
</html>