<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
<body>
<p><i>
Hello Admin,
</i>
</p>
</br>
</br>
<% if @user.profile.nil? %>
<p>
<%= @user.roles %> <%= @user.email %> has canceled leave that was applied. 
</p>
<% else %>
<p>
<%= @user.roles %> <%= @user.name%> has canceled leave that was applied.
<% end %>
</p>

</br>
regards,
</br>
<%= @user.organization.name %>
</body>
</html>