!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      %i
        Hello Admin,
    - if @user.profile.nil?
      %p
        = @user.roles
        = @user.email
        has canceled leave that was applied.
    - else
      %p
        = @user.roles
        = @user.name
        has canceled leave that was applied.
    regards,
    = @user.organization.name
