<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
  <body>     
     <p><b>Hello <%= @user.organization.name %>,</b></p>
     <p><%= @leave.reason %><br /><%= @leave.starts_at %> to <%= @leave.ends_at %></p>
      To showing leave details click the following link. <%= link_to 'click hear', @url %>
    <br />
    <p>Thanks & regards!<br /></p>   
  </body> 
</html> 



