!!!
%html
  %head
    %h1
      %title
        Leave Application from #{@user.name}
  %body
    %p
      %i
        Hello #{@user.name}
      %br/
      %br/
      #{@user.name} has apply for leave from date #{@from_date} to #{@to_date}.
      You can either approve or cancel leave after login.

