
!!!
%html
  %head
    :css
      .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.428571429;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
      }

      .btn-success {
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
      } 
      .btn-danger{
        color: #fff;
        background-color: #d2322d;
        border-color: #ac2925;
      }
    %h1
      %title
        #{@user.name} applied for leave
  %body
    %p
      %i
        Hello #{@receiver}
      %br/
      %br/
      #{@user.public_profile.name} has applied for leave from #{@leave_application.start_at.to_s} to #{@leave_application.end_at.to_s}.
      %br
      For reason #{@leave_application.reason}.
      %br
      Of type : #{@leave_application.leave_type.name}
      %br
      Days : #{@leave_application.number_of_days}
      %br
      Remaining leaves: #{User.find(@leave_application.user_id).leave_details.last.available_leave[@leave_application.leave_type.name == "Privilege" ? "TotalPrivilege" : @leave_application.leave_type.name]}
      %br
      = link_to "Approve", approve_leave_url(id: @leave_application.id), class: 'btn btn-success'
      |
      = link_to "Reject", cancel_leave_url(id: @leave_application.id), class: 'btn btn-danger'
      |
      = link_to "View Details", view_leaves_url

