<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
  <body>
<% if @leave.user.profile.nil? %>
<p> <i> Hello <%= @leave.user.email %>, </i> </p>
<% else %>
  <p>
  <i>
Hello  <%= @leave.user.name %>, </i>
<% end %>
  </p>
<% if @user.profile.nil? %>
<p>
The leave you applied from <%= @leave.starts_at %> to</br> <%= @leave.ends_at %> has bbeen regected by your <%= @user.roles %> <%= @user.email %> for the following reason that has been specified.
</br>

<ul>
<li> <%= @leave.reject_reason %> </li>
</ul>
</p>
<% else %>
<p>
The leave you applied from <%= @leave.starts_at %> to</br> <%= @leave.ends_at %> has bbeen regected by your <%= @user.roles %> <%= @user.name %> for the following reason that has been specified.
</br>

<ul>
<li> <%= @leave.reject_reason %> </li>
</ul>
<% end %>
</p>
</br>
Regards,
</br>
<%= @user.organization.name %>
</body>
</html>