<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
  <body>
  <p>
  <i>
Hello  <%= @leave.user.name %>, </i>
  </p>
<p>
The leave you applied from <%= @leave.starts_at %> to</br> <%= @leave.ends_at %> has bbeen regected by your <%= @user.roles %> <%= @user.name %> for the following reason that has been specified.
</br>
<%= @leave.reject_reason %>
</p>
</br>
Regards,
</br>
<%= @user.organization.name %>
</body>
</html>