!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    - if @user.public_profile.nil?
      %p
        %i
          Hello #{@user.email},
    - else
      %p
        %i
          Hello  #{@user.name},
    - if @user.public_profile.nil?
      %p
        The leave you applied from #{@from_date} to
        = @to_date
        has been rejected by your admin. 
    - else
      %p
        The leave you applied from #{@from_date} to
        = @to_date
        has been rejected by your admin
    Regards,
    %p
      Josh Software
