!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    - if @leave.user.profile.nil?
      %p
        %i
          Hello #{@leave.user.email},
    - else
      %p
        %i
          Hello  #{@leave.user.name},
    - if @user.profile.nil?
      %p
        The leave you applied from #{@leave.starts_at} to
        = @leave.ends_at
        has bbeen regected by your #{@user.roles} #{@user.email} for the following reason that has been specified.
      %ul
        %li
          = @leave.reject_reason
    - else
      %p
        The leave you applied from #{@leave.starts_at} to
        = @leave.ends_at
        has bbeen regected by your #{@user.roles} #{@user.name} for the following reason that has been specified.
      %ul
        %li
          = @leave.reject_reason
    Regards,
    = @user.organization.name
