.form-heading.row
  %h2 
    .span4
      Contacts From Site
.form-horizontal
  = form_tag site_contacts_path, class: 'form-tag-horizontal' do 
    .row
      .span1
        %label Start Date:
      .span3= text_field_tag :start_at, nil, class: :datepicker, value: @start_date
      .span1
        %label End Date:
      .span3= text_field_tag :end_at, nil, class: :datepicker, value: @end_date
      .span1= submit_tag 'Apply', class: :btn
      .span1= submit_tag 'Export to CSV', class: :btn
.form-horizontal
  %table.table.table-hover#site_contacts
    %thead
      %th Name
      %th Email
      %th Phone Number
      %th Date
      %th.span4 Message
    %tbody
<script id="template" type="text/html">
<tr>
<td>{{record.name}}</td>
<td>{{record.email}}</td>
<td>{{record.phone_number}}</td>
<td>{{record.date}}</td>
<td>
<div class='contact_message'>{{record.message}}</div>
</td>
</tr>
</script>

<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script type="text/javascript">
google.load('visualization', '1', {packages: ['linechart']});
</script>

:javascript
  $(document).ready(function(){
      $('.datepicker').datepicker({
      format: "dd/mm/yyyy",
      autoclose: true
    });
  });
   
  var template = Mustache.compile($.trim($("#template").html()));

  var view = function(record, index){
    return template({record: record, index: index});
    };

  var options = {
    view: view,                  //View function to render table rows.
    per_page: 10,
    pagination: {span: 5, next_text: 'Next &rarr;', prev_text: '&larr; Previous'} 
    } 
  $('#site_contacts').stream_table(options, #{@contact_list.to_json});
