.bonusly-updates.common-bonusly-updates
  %h4{align: 'center'}
    = "Bonus Given"
  %ul.media-list
    - if bonus_given.size.eql?(0)
      %li.media
        %h5{align: 'center'}
          = "#{user.public_profile.name} has not given any bonus in this month."
    - else
      - bonus_given.each do |message|
        = render partial: 'users/bonusly_updates_display', locals: {message: message}
.bonusly-updates.common-bonusly-updates.common-bonusly-updates-bottom
  %h4{align: 'center'}
    = "Bonus Received"
  %ul.media-list
    - if bonus_received.size.eql?(0)
      %li.media
        %h5{align: 'center'}
          = "#{user.public_profile.name} has not received any bonus in this month."
    - else
      - bonus_received.each do |message|
        = render partial: 'users/bonusly_updates_display', locals: {message: message}
