= simple_nested_form_for(@user,:url => user_path(@user), :html => { method: :put, class: "form-horizontal", multipart: true}) do |f|
  = f.fields_for :attachments do |a|
    = a.input :name
    = a.input :document
    - if a.object.persisted?
      .document
        %h4
          = link_to '', download_document_user_path(id: a.object.id), class: "icon-download"
          |
          = a.link_to_remove '', class: "icon-trash"
  = f.link_to_add 'Add new document', :attachments, class: 'btn controls'
  = f.submit :save, class: "btn"
:css
