= simple_form_for(@user,:url => user_path(@user), :html => { method: :put, class: "form-horizontal", multipart: true}) do |f|
  = f.simple_fields_for :employee_detail do |e|
    = e.input :employee_id, label: "Employee Id"
    = e.input :notification_emails, as: 'text', hint: 'You can add multiple emails seperated by comma.', input_html: {style: "height: 100px;width: 250px;" }
  = f.submit :save, class: "btn controls"

- notifications = @user.employee_detail.notification_emails.split(',') if !@user.employee_detail.notification_emails.nil?
- if !notifications.empty?
  %h4 Current Notification to
  %table.table.table-hover
    %tr
      %th Name
      %th Email
    - notifications.each do |n|
      - user = User.where(email: n.strip).first
      %tr
        %td= user.public_profile.name if user
        %td= n 
