= simple_form_for(@user,:url => user_path(@user), :html => { method: :put, class: "form-horizontal", multipart: true}) do |f|
  = f.simple_fields_for :employee_detail do |e|
    = e.input :employee_id, label: "Employee Id"
    = e.input :notification_emails, collection: @emails, input_html: {class: 'notification_emails', multiple: true, style: "width:240px;", "data-placeholder" => "You can add multiple emails"}
  = f.input :project_ids, collection: @projects, input_html: {class: 'notification_emails', multiple: true, style: "width:240px;", "data-placeholder" => "Add projects"}, label: "Projects" 
  = f.submit :save, class: "btn controls"
- if @notify_users
  %h4 Current Notification to
  %table.table.table-hover
    %tr
      %th Name
      %th Email
    - @notify_users.each do |n|
      %tr
        %td= n.public_profile.name if n
        %td= n.email
:javascript 
  $(".notification_emails").select2();
