= simple_form_for @user, url: profile_path(@user), method: :post do |u|
  = u.error_notification
  = u.simple_fields_for :profile do |p|

    .form-inputs

      = p.input :name
      = p.input :local_address
      = p.input :permanent_address

      = p.input :phone_number
      = p.input :dateOfBirth, :label => 'Date Of Birth'
      = p.input :pan_number
      = p.input :employee_id, :label => 'Employee Id'
      = p.input :join_date, :label => 'Joining Date'
      = p.input :passport_number
      = p.input :github_handle
      =p.input :twitter_handle
      =p.input :linkedin_name, :label => 'Linkedin Name'
    .form-actions
    = u.submit"createProfile"
