= simple_form_for @user, url: assignleaves_path(@user), method: :post, html: {:class => 'form-horizontal'} do |f|
  - if @user.leave_details[0].new_record
    Date:
    = text_field_tag "date", "#{Date.today}", :readonly => true
    - @leave_types.each do |lt|
      #{lt.name}:
      = text_field_tag "assign_leaves[#{lt.id}]", "#{@assign_leaves[lt.id]}"	
  - else
    Date:
    = text_field_tag "date", "#{@user.leave_details[0].assign_date}", :readonly => true
    - @leave_types.each do |lt|
      #{lt.name}:
      = text_field_tag "assign_leaves[#{lt.id}]", "#{@assign_leaves[lt.id.to_s]}"	
  = f.submit "Assign leaves"
= link_to 'Cancel', addleaves_path, class: 'btn btn-large btn-success'
%br