= content_for :left_menu do
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header
        Users
      %li
<<<<<<< HEAD
        = link_to "Invite", new_user_path
        = link_to "Assign Leaves", addLeaves_path
=======
        = link_to "Invite", new_user_invitation_path
        = link_to "Assign Leaves", new_leave_deatail_path
>>>>>>> 4465bde14f147bdf888aa5d9c6e2b49ec8f7d892
