= simple_form_for(@user,:url => user_path(@user), :html => { method: :put, class: "form-horizontal", multipart: true}) do |f|
  = f.simple_fields_for :notification do |n|
    = n.input :notification_emails, as: 'text'
  = f.submit :save, class: "btn controls"
%h4 Current Notification to
- notifications = @user.notification.notification_emails.split(',') if !@user.notification.notification_emails.nil?
- if !notifications.nil?
  - notifications.each do |n|
    = n 
    %br
