- @calendars.items.each do |calendar|
  = calendar["summary"]
- @events.items.each do |event|
  = event["summary"]
  = event["description"]

= simple_form_for(@public_profile, url: public_profile_user_path, :html => { method: :put, class: "form-horizontal public-profile", multipart: true}) do |pub|
  %table
    %tr
      %td
        = pub.input :first_name
        = pub.input :last_name
        = pub.input :gender, collection: GENDER, prompt: 'Select'
        = pub.input :mobile_number
      %td.photo
        = image_tag(pub.object.image.medium.url, class: 'controls')
        %br
        %br
        = pub.input :image, label: 'Photo'

  = pub.input :blood_group, collection: BLOOD_GROUPS, prompt: 'Select'
  = pub.input :date_of_birth, input_html: {class: 'datepicker', 'data-behaviour' => 'datepicker', value: @public_profile.date_of_birth.try(:strftime, "%d-%m-%Y")}
  = pub.input :skills, as: :text
  = pub.input :skype_id, label: "Skype Id"
  = pub.input :pivotal_tracker_id, label: "Pivotal Tracker Id"
  = pub.input :github_handle
  = pub.input :twitter_handle
  = pub.input :blog_url
  %center
    = pub.submit 'Update Profile', class: 'btn'
:css
  .photo{position: relative;  padding-left: 100px;}

