= simple_form_for(@user, :url => user_path(@user), :html => { method: :put, class: "form-horizontal", multipart: true}) do |f|
  = f.input :status, disabled: true, label: 'Current status'
  = f.label "Approve"
  .make-switch{"data-on" => "success", "data-off" => "warning", "data-on-label"=>"Yes", "data-off-label"=> "NO"}
    = f.check_box :status, {}, "#{STATUS[2]}", "#{STATUS[1]}"
  %br
  %br
  = f.submit 'Update Status', class: 'btn controls'
:css
  .make-switch{ height: 29px; margin-left: 18px;}
