= render 'left_menu'
= link_to 'My profile', profile_path(current_user)
%h1 Listing users

%table.table
  %tr
    %th Email
  - @users.each do |user|

    %tr
    %td= link_to user.email, profile_path(user)
    %td= link_to 'Edit', edit_user_path(user)
    %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br


