= simple_form_for @user, url: invite_user_path,:html => {class: "form-horizontal"} do |f|
  .form-heading
    %h2= 'Invite Employee'
  .control-group
    = f.input :email
    = f.input :role, collection: User::ROLES, prompt: 'Select Role'
    = f.submit 'Send Invitation', class: 'btn controls'
