= simple_form_for @user, html: {:method => :post} do |f|
  = f.error_notification
  .form-inputs

  = f.input :email

  %h2 Please select role:
  = f.input :roles, :collection => ["Admin", "HR", "Manager", "Employee"], :prompt => "Select role"

  = f.button :submit, :class => 'btn-success'
