%h1 Profile
%h2 Personal information:
%table.table 
  %tr
  %th Name
  %th Local Address
  %th Permanent Address
  %th Date Of Birth
  %th Contact Number
  %tr
  %td= @user.profile.name
  %td= @user.profile.local_address
  %td= @user.profile.permanent_address
  %td= @user.profile.dateOfBirth.strftime("%A, %B %d, %Y")
  %td= @user.profile.phone_number
%h2 General information:
%table.table
  %tr
  %th Pan Number
  %th Passport Number
  %th Employee Id
  %th Joining Date
  %tr
  %td= @user.profile.pan_number
  %td= @user.profile.passport_number
  %td= @user.employee_id
  %td= @user.join_date

%h2 social media information:
%table.table
  %tr
  %th Github Handle
  %th Twitter Handle
  %th Linkedin Name
  %tr
  %td= @user.profile.github_handle
  %td= @user.profile.twitter_handle
  %td= @user.profile.linkedin_name

%br
  = link_to 'Back', users_path, class: 'btn btn-large btn-success'
