.form-heading
  - if current_user == @user
    %h2 My Profile
  -else
    %h2 #{@user.public_profile.first_name}'s Profile
- if can? :edit, current_user and current_user.id != @user.id
  = render partial: "update_status"
%div.tabbable
  %ul.nav.nav-tabs
    %li.active.public-tab
      %a{data: {toggle: 'tab'}, href: "#public"} 
        Public 
    %li.private-tab
      %a{data: {toggle: "tab"}, href: "#private"} 
        Private
    %li.emp-details-tab
      %a{data: {toggle: "tab"}, href: "#emp-details"}
        Employee details
    %li.document-tab
      %a{data: {toggle: "tab"}, href: "#document"}
        Documents
  
  .tab-content
    .tab-pane.active#public
      = render partial: "public_profile"
    .tab-pane#private
      = render partial: "private_profile"
    .tab-pane#emp-details
      = render partial: "employee_detail"
    .tab-pane#document
      = render partial: "document"

:javascript
  error = #{!@private_profile.errors.full_messages.empty?}
  $("[data-behaviour~=datepicker]").datepicker({
    format: "dd-mm-yyyy",
    autoclose: true
  });
