.form-heading
  %h2 Profile
.form-horizontal
  %table.table.table-striped{style: "width: 45%"}
    %tbody
      %tr
        %th Name
        %td
          = @user.try(:public_profile).try(:first_name)
          = @user.try(:public_profile).try(:last_name)
      %tr
        %th Role
        %td
          = @user.role
      %tr
        %th Gender
        %td
          = @user.try(:public_profile).try(:gender)
      %tr
        %th Mobile No.
        %td
          = @user.try(:public_profile).try(:mobile_number)
      %tr
        %th Blood Group
        %td
          = @user.try(:public_profile).try(:blood_group)
      %tr
        %th Date of birth
        %td
          = @user.try(:public_profile).try(:date_of_birth)#.try(:to_formatted_s(:short))
  %div{:style => "margin-left: 740px; margin-top: -245px; margin-bottom: 240;"}
    = image_tag(@user.public_profile.photo.url(:thumb))

