.form-heading
  %h2 Profile
.form-horizontal
  %table.table.table-striped{style: "width: 45%"}
    %tbody
      %tr
        %th Name
        %td
          = @user.public_profile.first_name
          = @user.public_profile.last_name
      %tr
        %th Role
        %td
          = @user.role
      %tr
        %th Gender
        %td
          = @user.public_profile.gender
      %tr
        %th Mobile No.
        %td
          = @user.public_profile.mobile_number
      %tr
        %th Blood Group
        %td
          = @user.public_profile.blood_group
      %tr
        %th Date of birth
        %td
          = @user.public_profile.date_of_birth.strftime("%B %d") if @user.public_profile.date_of_birth?
      %tr 
        %th Skills
        %td
          = @user.public_profile.try(:skills)
      %tr 
        %th Github 
        %td
          = @user.public_profile.try(:github_handle)
      %tr 
        %th Twitter 
        %td
          = @user.public_profile.try(:twitter_handle)
      %tr 
        %th Blog Url 
        %td
          = @user.public_profile.try(:blog_url)
  %div{:style => "margin-left: 740px; margin-top: -390px; margin-bottom: 240;"}
    = image_tag(@user.public_profile.photo.url(:thumb))
