%h1 Result

%table.table
  %th Email
  %th Role
  %th Manager
  %th Joining date
  %th Employee ID
  %th Status
  %th Errors

  - @invited_users.each do |user|
    %tr
      %td= user.email
      %td= user.roles
      %td= user.manager_id
      %td= user.join_date
      %td= user.employee_id
      - if user.errors.messages == {}
        %td Completed
      - else
        %td Pending
        %td= raw user.errors.full_messages.uniq.join("<br>")

= link_to "Back", upload_csv_path(current_organization.id)
%br