= simple_form_for @leave_type do |f|
  = f.error_notification
  .form-inputs
    = f.input :name, collection: ['Vacation Leave', 'Sick Leave', 'Administrative Leave', 'Convention Leave', 'Leave For Athletic Competition', 'Leave For Government Office', 'Leave for Emergency Civilian Duty', 'Leave To Appear As a Witness', 'State Family Leave', 'Federal Family and Medical Leave', 'Donated Leave Program', 'Leave Without Pay'], as: :radio_buttons
    = f.input :max_no_of_leaves
    = f.input :auto_increament, :label => 'auto increment leaves', :as => :boolean
    = f.input :number_of_leaves
    = f.input :can_apply, :label => "Number of leaves can be applyed"
    = f.input :carry_forward, :as => :boolean

  .form-actions
    = f.button :submit, class: 'btn btn-large btn-success'
    = link_to 'Cancel', leave_types_path, class: 'btn btn-large btn-success'

  :javascript
    var leavetype = #{ @leave_type.to_json};
