%h1 Listing leave types

%table.table
  %tr
    %th Name
    %th Max no of leaves
    %th Auto Increment leave
    %th Leaves can be applyed
    %th
    %th
    %th

  - @leave_types.each do |leave_type|
    %tr
      %td= leave_type.name
      %td= leave_type.max_no_of_leaves
      %td= leave_type.number_of_leaves      
      %td= leave_type.can_apply
      %td= link_to 'Edit', edit_leave_type_path(leave_type)
      %td= link_to 'Delete', leave_type, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New leave type', new_leave_type_path, class: 'btn btn-large btn-success'

