.form-horizontal
  %table.table.table-hover
    %thead
      %tr
        %th
        %th Summary
        %th Event Date
        %th Event Time
        %th Status
        %th
    %tbody
      - if @events!= nil
        - @events.each_with_index do |event, index| 
          %tr
            %td
              - if (event.interview_type== "Skype")
                %i.icon-skype{style: "font-size:30px;"}
              - if (event.interview_type== "Telephonic")
                %i.icon-phone{style: "font-size:30px;"}
              - if (event.interview_type== "Face-to-Face")
                %i.icon-user{style: "font-size:30px;"}
            %td.popper{"data-trigger" => "hover","data-placement"=>"bottom","data-original-title"=>"Interviewers"}
              = link_to event.summary, schedule_path(event.google_id)
            %td.pop-over.hide
              %ul
                - event.users.each do |user|
                  - if user.email.include? "joshsoftware.com"
                    %li.i.icon-user= " #{user.name}"
                    %br
            %td= event.interview_date.strftime("%A: %d %B %Y")
            %td= event.interview_time.strftime("%I:%M %p")
            %td
              = event.status
              %i.icon-edit.popper{"data-placement"=>"bottom","data-original-title"=>"Status"}
              %i.icon-edit.pop-over.hide
                = form_tag schedule_get_event_status_path(event), :method => 'patch' do
                  = select_tag "status", options_for_select([ "Scheduled", "Confirmed", "Rescheduled", "Rejected", "Next Round" ], "Scheduled")
                  = submit_tag "Submit"
              
            %td
              - if can? :edit, Schedule
                = link_to "", edit_schedule_path(event), class: "icon-edit"
              - if can? :delete, Schedule           
                = link_to schedule_path(event), data: {method: :delete} do
                  %i.icon-remove


:javascript
  $('.popper').popover({
      container: 'body',
      html: true,
      content: function () {
          return $(this).next('.pop-over').html();
      }
  });

