.form-horizontal
  %table.table.table-hover
    %thead
      %tr
        %th Summary
        %th Event Date
        %th Event Time
        %th Status
        %th
    %tbody
      - if @events!= nil
        - @events.items.each_with_index do |event, index|       
          - if event["start"]["dateTime"] < Date.today
            %tr
              %td.popper{"data-trigger" => "hover","data-placement"=>"bottom","data-original-title"=>"Interviewers"}
                = link_to event["summary"], schedule_path(event["id"])
              %td.pop-over.hide
                %ul
                  - event["attendees"].each do |user|
                    - if user["email"].include? "joshsoftware.com"
                      %li.i.icon-user= " #{user['displayName']}"
                      %br
              %td= event["start"]["dateTime"].strftime("%A: %d %B %Y")
              %td= event["start"]["dateTime"].strftime("%I:%M %p")
              - schedule= Schedule.where(google_id: event["id"]).first
              - if (schedule!= nil)
                %td
                  = schedule.status
                  %i.icon-edit.popper{"data-placement"=>"bottom","data-original-title"=>"Status"}
                  %i.icon-edit.pop-over.hide
                    = form_tag schedule_get_event_status_path(schedule.id), :method => 'patch' do
                      = select_tag "status", options_for_select([ "Confirmed", "Rescheduled", "Next Round", "Rejected" ], "Confirmed")
                      = submit_tag "Submit"
                
              %td
                - if can? :edit, Schedule
                  = link_to "", edit_schedule_path(schedule.id), class: "icon-edit"
                - if can? :delete, Schedule           
                  = link_to schedule_path(event["id"]), html_options= {method: :delete} do
                    %i.icon-remove

  = link_to "Create Event", new_schedule_path
:css
  .table td{ vertical-align: middle; }
  .popover-content {
    font-size: 15px;
    font-family:"Times New Roman";
  }
  .popover-title
  {
        font-size: 25px;
        font-family:"Times New Roman";
  }
  ul { list-style-type: none; }
  li {padding:5px;}

  .icon-edit
  {
    color: #005580
  }
  .icon-remove
  {
    color: #005580
  }

:javascript
  $('.popper').popover({
      container: 'body',
      html: true,
      content: function () {
          return $(this).next('.pop-over').html();
      }
  });