- a= @schedule.google_id
= simple_nested_form_for @schedule, :url => schedule_path(a), :html => {multipart: true,id: "Form"} do |schedule|  
  .row
    .span5.form-horizontal
      %h2 Interview Details
      = schedule.input :summary 
      = schedule.input :description,as: :text
      = schedule.input :interview_date,input_html: {class: 'datepicker', 'data-behaviour' => 'datepicker', value: @schedule.interview_date.try(:strftime, "%d-%m-%Y")},label:"Date",:required=>true
      = schedule.input :interview_time,input_html: {class: 'timepicker'},label: "Time",:required=>true
      = schedule.input :interview_type, :collection => ['Skype','Telephonic','Face-to-Face'] , selected: "Skype" , :id => 'collect',label:"Type"
      %h3 Add Resume
      = schedule.file_field :file
    .span5.form-horizontal
      %h2 Candidate Details
      = schedule.fields_for :candidate_details,OpenStruct.new(@schedule.candidate_details) do |c_d|
        = c_d.input :email,:email=>true,:required=>true
        = c_d.input :telephone,:required=>false
        = c_d.input :skype_id,:required => false
      = schedule.fields_for :public_profile,OpenStruct.new(@schedule.public_profile) do |f|
        = f.input :git, :required => false
        = f.input :linkedin, :required => false
  .row
    .span10.form-horizontal
      = schedule.input :user_ids, collection: @emails.collect{|email| [email, email]}, selected: @schedule.users.collect(&:email), input_html:{class: 'emails', multiple: true, style: "width: 340px;", "data-placeholder"=> "You can add multiple emails", :include_blank => false,:required => true} ,label: "Interviewer Emails"

  = schedule.submit :save, class: "btn"

  :javascript
  loadFunction= function() {
    console.log('in load function');
    $.validator.addMethod("skype_tip", function(value) {     
      if($('#schedule_interview_type').val()=='Skype')
          return value!="";
      else
          return true;
    }, "Please insert skype id");

    $.validator.addMethod("email_tip", function(value) {
      if($('#schedule_interview_type').val()=='Telephonic')
          return value!="";
       else
          return true;
    }, "Please insert phone number");

    $("#Form").validate({ 
      rules: {
        "schedule[summary]": {
            required: true
          },
        "schedule[candidate_details][telephone]": {
          email_tip:true
        },
        "schedule[candidate_details][skype_id]": {
          skype_tip:true
        }
      },    
    });

    $('.timepicker').timepicker();    
    $(".emails").select2();  
    $("[data-behaviour~=datepicker]").datepicker({
      format: "dd-mm-yyyy",
      autoclose: true
    }); 
  };

  $(document).ready(function(){
    loadFunction();
  });

  //$(document).on('page:load',loadFunction); 
  //$(document).on('page:change',loadFunction); 
  //$(window).load(LoadFunction);
    

   


