.form-horizontal
  %h4 Search by Date
  = form_tag schedules_path, :method => 'get' do
    = text_field_tag :starts_at, params[:search]
    = submit_tag "Search", :name => nil

:javascript
  $(function() {
    $( "#starts_at" ).datepicker();
  })

.form-heading
  %h2 Events
%div.tabbable
  %ul.nav.nav-tabs
    %li.active.all-tab
      %a{data: {toggle: 'tab'}, href: "#future"} 
        Future
    %li.today-tab
      %a{data: {toggle: "tab"}, href: "#today" } 
        Today
    %li.past-tab
      %a{data: {toggle: "tab"}, href: "#past"}
        Past
    %li.future-tab
      %a{data: {toggle: "tab"}, href: "#all"}
        All

  .tab-content
    .tab-pane.active#future
      = render "schedules/future"
    .tab-pane#today
      = render "schedules/today"
    .tab-pane#past
      = render "schedules/past"
    .tab-pane#all
      = render "schedules/index"


