= simple_form_for @leave, html: {:class => 'form-horizontal'} do |f|
 = f.association :leave_type, :collection => LeaveType.all.entries, :prompt => "Select leave type"
 = f.input :reason
 =f.input :starts_at, :label => 'Select start date', :input_html => {:class => 'datepicker'}
 = f.input :ends_at, :label => 'Select end date', 'class' => 'datepicker'
 = f.input :contact_address
 = f.input :contact_number
 = f.submit "Apply"

