- if current_user.roles != "Admin"
  %h1 Leaves summary for an year #{Date.today.year}

  %table.table
    %tr
      - @leave_types.each do |lt|
        %th= lt.name + " [Assign/Available]"
    %tr
      - if @leave_details != nil
        - @leave_types.each do |lt|               
          - if @leave_details.assign_leaves[lt.id.to_s] != ""
            %td=  " #{@leave_details.assign_leaves[lt.id.to_s]} / #{@leave_details.available_leaves[lt.id.to_s]} "
%h1 Applied leaves

= page_entries_info @leaves
= paginate @leaves

%table.table 
  %tr
    %th User
    %th Leave type
    %th Reason:
    %th Start date:
    %th End date:
    %th Status:
    %th 
    %th
    %th
    %th

  - @leaves.each do |leave|                                       
    %tr
      - if leave.user.profile.nil?
        %td= leave.user.email
      - else
        %td= leave.user.name
      %td= leave.leave_type.name
      %td= leave.reason
      %td= leave.starts_at.strftime("%A, %B %d, %Y")
      %td= leave.ends_at.strftime("%A, %B %d, %Y")
      %td{:class => "status"}= leave.status
      %td= link_to 'Show', leave
      - if leave.status == "Pending"
        - if can? :approve, leave
          %td= link_to 'Approve', approve_leave_path(leave), "data-toggle" => "modal", "data-target" => "#approvemodel", :class => "lnkApprove", :remote => true
        - if can? :rejectStatus, leave
          %td= link_to 'Reject', rejectStatus_leave_path(leave),  "data-toggle" => "modal", "data-target" => "#rejectmodal", :html => {:class => 'lnkReject'}, :remote => true
        - if can? :edit, leave
          %td= link_to 'Edit', edit_leave_path(leave)
        - if can? :destroy, leave
          %td= link_to 'Delete', leave, method: :delete, data: { confirm: 'Are you sure?' }
      - else
        - if current_user.roles == "Admin"
          - if can? :destroy, leave
            %td= link_to 'Delete', leave, method: :delete, data: { confirm: 'Are you sure?' }

    %div{:id => "rejectmodal", :class => "modal hide fade rejectmodal", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
      %div{:class => "modal-header"}
        %h1 Reject leaves
      %div{:class => "modal-body"}
      %div{:class => "modal-footer"} 
    %div{:id => 'approvemodel', :class => 'modal hide fade-approve', :tabindex => '-1', :role => 'dialog', 'aria-labelledby' => 'myModalLabel', 'aria-hidden' => 'true'}
      %div{:class => 'modal-header-approve'}
        %h1 Approve leave      

      %div{:class => 'modal-body-approve'}
        %div{:class => 'modal-footer-approve'}
    
%br


