%table
  %tr
    %th Leave type:
    %th Reason:
    %th Start date:
    %th End date:
    %th Contact address:
    %th Contact number:
    %th Status:
  - if @leave.status == "Reject"
    %th Rejection reason:
  %tr
    %td= @leave.leave_type.name
    %td= @leave.reason
    %td= @leave.starts_at
    %td= @leave.ends_at
    %td= @leave.contact_address
    %td= @leave.contact_number
    %td{:class => "status"}= @leave.status
  - if @leave.status == "Reject"
    %td= @leave.reject_reason

%br
%br

= link_to 'Approve', approveStatus_leafe_path, :remote => "true"
= link_to 'Reject', '#', "data-toggle" => "modal", "data-target" => "#rejectmodal"
|
= link_to 'Edit', edit_leafe_path
= link_to 'Cancel', @leave, method: :delete, data: { confirm: 'Are you sure?' }
|
= link_to 'Back', leaves_path
%div{:id => "rejectmodal", :class => "modal hide fade", :tabindex => "-1", :role => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  %div{:class => "modal-header"}
    %h1 Reject leaves
  %div{:class => "modal-body"}
    = simple_form_for @leave, :url => {:action => "rejectStatus"}, html: {:class => 'form-horizontal'}, :remote => "true" do |f|
      = f.input :reject_reason
      = f.submit
  %div{:class => "modal-footer"}
