%table.table
  %tr
    %th User
    %th Leave type:
    %th Reason:
    %th Start date:
    %th End date:
    %th Contact address:
    %th Contact number:
    %th Status:
    - if @leave.status == "Rejected"
      %th Rejection reason:
    %th
    %th
    %th
  %tr
    - if @leave.user.profile.nil?
      %td= @leave.user.email
    - else
      %td= @leave.user.name
    %td= @leave.leave_type.name
    %td= @leave.reason
    %td= @leave.starts_at
    %td= @leave.ends_at
    %td= @leave.contact_address
    %td= @leave.contact_number
    %td{:class => "status"}= @leave.status
    - if @leave.status == "Rejected"
      %td= @leave.reject_reason

%br
%br

= link_to 'Back', leaves_path, class: 'btn btn-large btn-success'