<<<<<<< Updated upstream
%h2
  New Project
= render 'form'
=======
= simple_nested_form_for @project, :html => {:method => :post, class: "form-horizontal"} do |f|
  .form-heading
    %h2= "Add New Project"
  .control-group
    = f.input :name
    = f.input :code_climate_id
    = f.input :code_climate_snippet, as: :text
    = f.submit :save, class: 'btn controls'
>>>>>>> Stashed changes
