= render partial: "/layouts/vendor_menu"
%h2
  Vendors
.form-horizontal
  %table.table.table-hover
    %thead
      %tr
        %th Company
        %th Category
        %th Role
        %th Name
        %th Phone No
        %th Email
    %tbody
      - @vendors.each do |v|
        %tr
          %td.company_name
            = link_to v.company, "#"
            .actions.hide
              = link_to '', edit_vendor_path(v), class: "icon-edit", data: {'no-turbolink' =>  true} 
              = link_to '', vendor_path(v), method: :delete, "data-confirm" => "Are you sure?", class: "icon-trash"
          %td= v.category
          - address = "#{v.address.try(:address)}"
          //%td= address
          - v.contact_persons.each_with_index do |c, i|
            - if i > 0
              %tr
                %td{colspan: 2}
                %td= c.role
                %td= c.name
                %td= c.phone_no
                %td= c.email
            - else
              %td= c.role
              %td= c.name
              %td= c.phone_no
              %td= c.email
              %td
:css
  .contact {border-top: 1px white;}
      
