= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "form-horizontal"}) do |f|
  %h2.form-heading
    Please sign in
  .control-group
    = f.input :email, :autofocus => true, placeholder: "Email address" 
    = f.input :password, placeholder: "Password"
    - if devise_mapping.rememberable?
      .control-group
        .controls
          %label.checkbox
            %strong Remember me
            = f.check_box :remember_me
    = f.submit "Sign in", class: "btn controls"
    = render "devise/shared/links"
