<h2><%= t "devise.invitations.new.header" %></h2>

<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post, :multipart => true} do |f| %>
  <%= f.error_notification %>
<% if current_organization.leave_types.empty? %>
<div>
</br>
</br>
Note: You haven't create leave type for your organization. </br> do you want to create leave type for your organization? then <%= link_to 'Click here', new_leave_type_path %>
</br>
</br>
</div>
<% end %>
</br>
</br>
  <% resource.class.invite_key_fields.each do |field| -%>
    <%= f.input field %>    
  <% end -%>

  <%= f.input :roles, :collection => ["Admin", "HR", "Manager", "Employee"], :prompt => "Select role" %>
  <%= f.input :manager_id, :collection => current_organization.users.where(:roles => 'Manager'), :label_method => :email, :value_method => :id, :prompt => "Select manager", :label => 'Manager'  %>
  <%= f.input :join_date, :label => 'Joining date', :input_html => {:class => "datepicker"}, :readonly => true %>
  <%= f.input :probation_end_date, :label => "End of probation date", :readonly => true%>
  <%= f.input :pay_role, as: :boolean%>
<%= select_tag "leave_type", options_from_collection_for_select(current_organization.leave_types.all, "id", "name") %>


  <%= f.input :employee_id, :label => 'Employee Id' %>
<%= f.label "Leaving Certificate of this user:" %>
<%= f.file_field :leaving_Certificate%>
  <%= hidden_field_tag 'user[organization_id]', current_organization.id   %>  

  <%= f.submit t("devise.invitations.new.submit_button") %>
<% end %>
