%table.table.table-hover.table-striped
  %thead
    %tr
      %th
        Name
      %th
        = image_tag(asset_url("sick_leave.jpg"), class: "leave-icon")
        Sick Leave
      %th
        = image_tag(asset_url("casual_leave.jpg"), class: "leave-icon")
        Casual Leave
      %th
        = image_tag(asset_url("paid_leave.jpg"), class: "leave-icon")
        Current Year Privilege Leave
      %th
        = image_tag(asset_url("paid_leave.jpg"), class: "leave-icon")
        Total Privilege Leave
  %tbody
    - @all_available_leave.each do|leave_detail|
      %tr
        %td
          = leave_detail.user.name
        %td
          = link_to leave_detail.available_leave["Sick"], '#', {class: 'leave_type_sick', id: "sick_#{leave_detail.id}", data:{pk: leave_detail.id.to_s, url: update_available_leave_path(id: leave_detail.id, type: 'Sick'), name: 'Sick'}}
        %td
          = link_to leave_detail.available_leave["Casual"], '#', {class: 'leave_type_casual', id: "casual_#{leave_detail.id}", data:{pk: leave_detail.id.to_s, url: update_available_leave_path(id: leave_detail.id, type: 'Casual'), name: 'Casual'}}
        %td
          = link_to leave_detail.available_leave["CurrentPrivilege"],  "#", {class: 'leave_type_current', id: "current_paid_#{leave_detail.id}", data:{pk: leave_detail.id.to_s, url: update_available_leave_path(id: leave_detail.id, type: 'CurrentPrivilege'), name: 'CurrentPrivilege'}}
        %td
          = link_to leave_detail.available_leave["TotalPrivilege"],  "#", {class: 'leave_type_paid', id: "paid_#{leave_detail.id}", data:{pk: leave_detail.id.to_s, url: update_available_leave_path(id: leave_detail.id, type: 'TotalPrivilege'), name: 'TotalPrivilege'}}
:javascript
  $.fn.editable.defaults.ajaxOptions = {type: "PUT"}; 
  $('.leave_type_sick').editable({
    url: $(this).data('url'),
    validate: function(value){
      if(value == '')
      {
        return 'Can not be blank'
      }
      if(isNaN(value)){
        return 'Enter only Number'
      }
      
      
    }
  });
  $('.leave_type_casual').editable({
    url: $(this).data('url'),
    validate: function(value){
      if(value == '')
      {
        return 'Can not be blank'
      }
      if(isNaN(value)){
        return 'Enter only Number'
      }
      
      
    }
  });
  $('.leave_type_paid').editable({
    url: $(this).data('url'),
    validate: function(value){
      if(value == '')
      {
        return 'Can not be blank'
      }
      if(isNaN(value)){
        return 'Enter only Number'
      }
    }
  });

  $('.leave_type_current').editable({
    url: $(this).data('url'),
    validate: function(value){
      if(value == '')
      {
        return 'Can not be blank'
      }
      if(isNaN(value)){
        return 'Enter only Number'
      }
    }
  });
