:css
  .nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus{
    background: -webkit-gradient( linear, left top, left bottom, from(#fff3db), to(rgba(0, 0, 0, 0.39)));
  }
%ul.leave_applicationTab.nav.nav-tabs
  %li.active
    %a{data:{toggle: "tab"}, href: '#approved_leave'}
      Approved
  %li
    %a{data:{toggle: 'tab'}, href: '#unapproved_leave'}
      Need Approval
.leave_application_tab_content.tab-content
  #approved_leave.tab-pane.fade.in.active
    = render 'leave_applications/leave_view', leave_data: @approved_leave
    -#
      %table.table.table-hover
        %thead
          %th
            From
          %th 
            Leave Type
          %th 
            Reason
          %th
            Action
        %tbody
          - @approved_leave.each do|appr_leave|
            %tr
              %td= appr_leave.user.try(:name)
              %td= appr_leave.leave_type.name
              %td= appr_leave.reason
              %td
                Approved
  #unapproved_leave.tab-pane.fade
    = render 'leave_applications/leave_view', leave_data: @pending_leave
:javascript
  $('.leave_application_tab_content').on('click', '.cancel_leave, .approve_leave', function(){
    leave_application_id = $(this).data('id');
    url = "/" + $(this).data('url');
    action = $(this).data('action');
 
    $.ajax({
      url: '/approve_leave_application',
      type: 'GET',
      data: {leave_application_id: leave_application_id, action: 'cancel_leave'},
      success: function(){
        tr_id = "#leave_application_" + leave_application_id;
        b = $(tr_id).detach();
        b.children().last().text(action);
        $('#approved_leave table tbody').append(b)  
      },
      error: function(){
        alert('contact server');
      }
    });  
  });
