= simple_form_for @leaveDeatail, html: {:class => 'form-horizontal'} do |f|
 = f.association :user, :collection => User.all.entries, :prompt => "Select employee", :label => "Employee"
 = f.input :assignedDate, :label => "Date"
 = f.association :leave_type, :collection => LeaveType.all.entries, :prompt => "Select leave type"
 = f.submit "Assign leaves"

