%h1 Leaves deatails

%table.table
  %tr
    %th Leave type
    %th Show
    %th Edit
    %th Remove leaves

  - @leaveDeatail.each do |leave|                                       
    %tr
      %td= leave.leave_type.name
      %td= link_to 'Show', leave
      %td= link_to 'Edit', edit_leave_deatail_path(leave)
      %td= link_to 'Remove leaves', leave, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Apply leaves', new_leave_path, class: 'btn btn-large btn-success'
