= simple_nested_form_for @organization, url: signup_path, html: {:class => 'form-horizontal'} do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, :label => "Organization name"
    = f.input :address1
    = f.input :address2
    = f.input :city
    = f.input :country
    = f.input :zip
    = f.input :contact_number
    = f.simple_fields_for :users do |u|
      = u.input :email
      = u.input :password
      = u.input :password_confirmation
      = u.hidden_field :roles, :value => 'Admin'
      = u.hidden_field :join_date, :value => Date.today
      = u.hidden_field :employee_id, :value => '001'


  .form-actions
    = f.button :submit, class: 'btn-success'
