= content_for :left_menu do
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header
      - if params[:controller] == "users" && params[:action] == "edit"
        %li.active Edit Profile
      - elsif params[:controller] == "users" && params[:action] == "profile"
        %li.active Profile
      - elsif params[:controller] == "users" && params[:action] == "leavessummary"
        %li.active Leaves summary
      - elsif params[:controller] == "users" && params[:action] == "addleaves"
        %li.active Assign Leaves
      - elsif params[:controller] == "users" && params[:action] == "index"
        %li.active User
      - elsif params[:controller] == "leaves" && params[:action] == "new"
        %li.active Apply leaves
      - elsif params[:controller] == "leaves" && params[:action] == "edit"
        %li.active Edit leaves
      - elsif params[:controller] == "leaves" && params[:action] == "show"
        %li.active Show
      - elsif params[:controller] == "leaves"
        %li.active Home
      - elsif params[:controller] == "leave_types" && params[:action] == "new"
        %li.active New leave type
      - elsif params[:controller] == "leave_types" && params[:action] == "edit"
        %li.active Edit leave type
      - elsif params[:controller] == "leave_types"
        %li.active Leave Type
      %li
        - if params[:action] != "addleaves"
          - if can? :assign_leave, @assign_leaves 
            = link_to "Assign Leaves", addleaves_path
        - if params[:controller] == "devise/invitations" && params[:action] == "new"
          %li.active Invite
        - else
          - if can? :new_user_invitation, @user
            = link_to "Invite", new_user_invitation_path
        - if params[:controller] == "users" && params[:action] == "upload_csv"
          %li.active Upload CSV and invite
        - else
          - if can? :upload_csv, @organization
            %li
              = link_to "Upload CSV and invite", upload_csv_path(current_organization.id)
        - if params[:action] == "leave_summary_for_roles"
          %li.active Leave summary on roles
        - else
          - if can? :leave_summary_on_roles, User
            %li
              = link_to 'Leave summary on roles', leave_summary_for_roles_path
	    