%html
  %head
    %title Josh Intranet
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true 
    = csrf_meta_tags
%body
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        .brand 
          Josh Intranet
        %ul.nav.pull-right.top-list
          - if user_signed_in?
            %li
              = link_to "My Profile", '#', 'data-toggle' => "dropdown", class: "dropdown-toggle"
              %ul.dropdown-menu
                - if can? :invite_user, current_user
                  %li
                    = link_to "Invite User", invite_user_path
                %li
                  = link_to "Profile", edit_user_registration_path
                %li.divider
                %li
                  = link_to 'Sign out', destroy_user_session_path, method: :delete
            %li
              = link_to "All Users", all_users_path
          - else
            %li
              = link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2)
  .container
    = flash[:notice]
    = yield
