%html
  %head
    %title Josh Intranet
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true 
    = csrf_meta_tags
    :css
      .media.notification-menu, .media .media{
        width: 430px;
      }
%body
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        .brand 
          Josh Intranet
        %ul.nav.pull-right.top-list
          - if user_signed_in?
            %li.dropdown.hide
              = link_to "#", {:'data-toggle' => 'dropdown', class: 'dropdown-toggle'} do
                Notifications
                %span.badge.badge-important
                  1
              %ul.dropdown-menu
                %li
                  .media.notification-menu
                    = link_to "#", {class: 'pull-left'} do
                      %img.media-object{src: "/uploads/public_profile/image/525e3cf541c90efd02000001/medium_naruto.jpeg", height: 64}
                    .media-body
                      Cras sit amet nibh libero, in gravida nulla. Nulla metus scelerisque ante sollicitudin commodo
            %li
              = link_to "All Employees", users_path
            %li
              = link_to current_user.email, '#', 'data-toggle' => "dropdown", class: "dropdown-toggle"
              %ul.dropdown-menu
                - if can? :invite_user, current_user
                  %li
                    = link_to "Invite User", invite_user_path
                %li
                  = link_to "Profile", public_profile_user_path(current_user), data: {'no-turbolink' =>  true}
                %li.hide
                  = link_to "Apply Leave", new_user_leave_application_path(current_user)
                %li.divider
                %li
                  = link_to 'Sign out', destroy_user_session_path, method: :delete
          - else
            %li
              = link_to "Sign in with Josh account", user_omniauth_authorize_path(:google_oauth2)
  .container
    - flash.each do |key, msg|
      %div{class: flash_class(key), style: "margin-top: 15px;"}
        = msg
    = yield
